<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.kustom.kodersample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KodeEditor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- This is required to be found when import is pressed on Kustom -->
                <action android:name="org.kustom.intent.action.EDIT_KODE" />
            </intent-filter>
        </activity>
        <!--
        IMPORTANT!!!
        CHANGE "android:authorities" to something unique
        IMPORTANT!!
        -->
        <provider
            android:name=".SampleProvider"
            android:authorities="whatever.kompany.kodes.sampleprovider"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
            <intent-filter>
                <action android:name="org.kustom.provider.SAMPLES" />
            </intent-filter>
        </provider>
    </application>

</manifest>
